# Mapa das escolas do RS por taxa de distorção do ensino médio por série

In [1]:
%matplotlib inline
import pandas as pd
import folium

In [9]:
# carregar dados do arquivo csv
df = pd.read_csv('fee-2013-mun-taxa-de-distorcao-idade-serie-total-102524.csv', encoding='latin1', skiprows=1)

In [12]:
df = df.rename(columns={'/Educação/Ens...de Série/Total 2013 (-)': 'tx_distorcao'})
df.head()

    Município     ibge  latitude  longitude tx_distorcao
0      Aceguá  4300034 -31.86076  -54.16706         25,7
1  Água Santa  4300059 -28.16720  -52.03100         14,7
2       Agudo  4300109 -29.64470  -53.25150         26,4
3   Ajuricaba  4300208 -28.23420  -53.77570         24,1
4     Alecrim  4300307 -27.65790  -54.76490         18,9

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 494
Data columns (total 5 columns):
Município       495 non-null object
ibge            495 non-null int64
latitude        495 non-null float64
longitude       495 non-null float64
tx_distorcao    495 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 23.2+ KB